<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:v-bind="http://www.w3.org/1999/xhtml"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
       lang="en">
<head>
    <meta charset="UTF-8">
    <title>*** Manager System</title>

    <!-- 引入css -->
    <!-- <link th:href="@{http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css}" rel="stylesheet" > -->
    <!-- <link th:href="${'/css/sbDemo.css'}" rel="stylesheet" /> -->
    <link th:href="${'/plugin/bootstrap/css/bootstrap.min.css'}" rel="stylesheet" />
    <link th:href="${'/plugin/font-awesome/css/font-awesome.min.css'}" rel="stylesheet" />

    <!-- 引入js -->
    <script th:src="${'/plugin/jquery/jquery.min.js'}" type="text/javascript"></script>
    <script th:src="${'/plugin/bootstrap/js/bootstrap.bundle.min.js'}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript"></script>
    <!-- layer -->
    <script th:src="@{https://cdn.bootcss.com/layer/2.1/layer.js}"
            type="text/javascript"></script>
    <!-- 删除确认框-->
    <script th:src="${'/plugin/bootbox/bootbox.js'}" type="text/javascript"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- 引入碎片文件 sidebar.html-->
            <div th:replace="fragments/sidebar"></div>

            <!-- 引入碎片文件 header.html-->
            <div th:replace="fragments/header"></div>

            <!-- body content -->
            <div th:if="${template}">
                <div th:replace="${template}"></div>
            </div>

            <!-- 引入碎片文件 footer.html-->
            <div th:replace="fragments/footer"></div>
        </div>
    </div>

    <link th:href="${'/css/custom.css'}" rel="stylesheet" />
    <script th:src="${'/js/custom.js'}" type="text/javascript"></script>
</body>
</html>