<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form action="javascript:void(0);">
                <h1>*** Manager System</h1>
                <div>
                    <input name="userName" type="text" class="form-control"
                           placeholder="userName" required="" />
                </div>
                <div>
                    <input name="password" type="password" class="form-control"
                           placeholder="Password" required="" />
                </div>
                <div>
                    <input class="form-control input-val" type="text" value="" placeholder="请输入验证码（不区分大小写）"
                           style="float:left; width:68%; margin-bottom: 0px;">
                    <canvas id="canvas" width="100" height="36"></canvas>
                </div>
                <div style="text-align:left; margin-top: 5px; margin-left: 3px;">
                    <input type="checkbox" lay-filter="filter" name="rememberMe" style="float: left;"
                           lay-skin="primary" title="30天内自动登录" >30天内自动登录
                </div>
                <div>
                    <a id="loginBuuton" class="btn btn-default submit"
                       href="javascript:void(0);">Log in</a>
                    <a class="reset_pass" href="#">Lost your password?</a>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <p class="change_link">New to site?
                        <a href="/account/register" class="to_register"> Create Account </a>
                    </p>

                    <div class="clearfix"></div>
                    <br />
                </div>
            </form>
        </section>
    </div>
</div>
<script type="text/javascript">
    show_num = [];
    $(function() {
        draw(show_num);
        $("#canvas").on('click',function(){
            draw(show_num);
        });

        $("#loginBuuton").bind("click", function(){
            login();
        });
    });

    function login() {
        var code = $(".input-val").val();
        var num = show_num.join("");
        /*if (code == "") {
            layer.msg("Please input Verification Code.", {icon: 0});
            return;
        } else if (code != num) {
            layer.msg("The input code is error.", {icon: 0});
            return;
        };*/

        var user = {};
        user.userName = $("[name=userName]").val();
        user.password = $("[name=password]").val();
        user.rememberMe = $("[name=rememberMe]").prop("checked")
        console.log(user);

        $.ajax({
            url : "/login/index",
            type : "post",
            contentType: "application/json",
            data : JSON.stringify(user),
            success : function (data) {
            console.log(data);
                if (data.state == 200) {

                    location.href = "/common/dashboard";
                } else {
                    layer.msg(data.message, {icon: 0});
                }
            },
            error : function (data) {
                layer.msg(data.responseText, {icon: 0});
            }
        });
    }

    //动态验证码
    function draw(show_num) {
        var canvas_width=$('#canvas').width();
        var canvas_height=$('#canvas').height();
        var canvas = document.getElementById("canvas");//获取到canvas的对象，演员
        var context = canvas.getContext("2d");//获取到canvas画图的环境，演员表演的舞台
        canvas.width = canvas_width;
        canvas.height = canvas_height;
        var sCode = "A,B,C,E,F,G,H,J,K,L,M,N,P,Q,R,S,T,W,X,Y,Z,1,2,3,4,5,6,7,8,9,0";
        var aCode = sCode.split(",");
        var aLength = aCode.length;//获取到数组的长度

        for (var i = 0; i <= 3; i++) {
            var j = Math.floor(Math.random() * aLength);//获取到随机的索引值
            var deg = Math.random() * 30 * Math.PI / 180;//产生0~30之间的随机弧度
            var txt = aCode[j];//得到随机的一个内容
            show_num[i] = txt.toLowerCase();
            var x = 10 + i * 20;//文字在canvas上的x坐标
            var y = 20 + Math.random() * 8;//文字在canvas上的y坐标
            context.font = "bold 23px 微软雅黑";

            context.translate(x, y);
            context.rotate(deg);

            context.fillStyle = randomColor();
            context.fillText(txt, 0, 0);

            context.rotate(-deg);
            context.translate(-x, -y);
        }
        for (var i = 0; i <= 5; i++) { //验证码上显示线条
            context.strokeStyle = randomColor();
            context.beginPath();
            context.moveTo(Math.random() * canvas_width, Math.random() * canvas_height);
            context.lineTo(Math.random() * canvas_width, Math.random() * canvas_height);
            context.stroke();
        }
        for (var i = 0; i <= 30; i++) { //验证码上显示小点
            context.strokeStyle = randomColor();
            context.beginPath();
            var x = Math.random() * canvas_width;
            var y = Math.random() * canvas_height;
            context.moveTo(x, y);
            context.lineTo(x + 1, y + 1);
            context.stroke();
        }
    }

    function randomColor() {//得到随机的颜色值
        var r = Math.floor(Math.random() * 256);
        var g = Math.floor(Math.random() * 256);
        var b = Math.floor(Math.random() * 256);
        return "rgb(" + r + "," + g + "," + b + ")";
    }

</script>