<!-- 模态框（Modal） -->
<div th:fragment="resourceEdit" class="modal fade" id="resourceEditModal" tabindex="-1"
	role="dialog" aria-labelledby="resourceEditLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="resourceEditLabel"
					style="font-size: 18px; font-weight: 500;">Resource Edit</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group row">
						<label class="control-label col-md-3">Resource Id</label>
						<div class="col-md-8">
							<input id="resourceIdForEditPage" name="resourceId" class="form-control" 
								type="text" placeholder="Enter resource id" readonly/>
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-3">Resource Name</label>
						<div class="col-md-8">
							<input id="resourceNameForEditPage" name="resourceName" class="form-control" 
								type="text" placeholder="Enter resource name">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-3">Permission</label>
						<div class="col-md-8">
							<input id="permissionForEditPage" name="permission" class="form-control" 
								type="text" placeholder="Enter resource permission">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-3">Roles</label>
						<div class="col-md-8" id="rolesForEditPage" name="roles"></div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<!-- data-dismiss="modal"关闭模态框 -->
				<a class="btn btn-secondary" href="#" data-dismiss="modal">
					<i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel
				</a>
				<button id="resourceEditBtn" data-dismiss="modal" 
					class="btn btn-primary" type="button">
					<i class="fa fa-fw fa-lg fa-check-circle"></i>Submit
				</button>
			</div>
		</div>
	</div>
</div>