<!-- page content -->
<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center text-center">
            <h1 class="error-number">403</h1>
            <h2>Access denied</h2>
            <p>Full authentication is required to access this resource.</a>
            </p>
            <div class="mid_center">
                <a class="btn btn-primary" href="javascript:window.history.back();">Go Back</a>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->